/**
* As principais cores utilizadas no projeto se encontram nesse arquivo,
* facilitando a manutenção e alteração.*/

:root {
    --cor-0: #FFFFFF;
    --cor-1: #CCCCCC;
    --cor-2: #B2B2B2;
    --cor-3: #5C5C5C;
    --cor-4: #444444;
    --cor-5: #222222;
    --cor-p1: #c91b15;
}

.cor-0 {
    color: var(--cor-0);
}

.cor-1 {
    color: var(--cor-1);
}

.cor-2 {
    color: var(--cor-2);
}

.cor-3 {
    color: var(--cor-3);
}

.cor-4 {
    color: var(--cor-4);
}

.cor-5 {
    color: var(--cor-5);
}

.cor-6 {
    color: var(--cor-6);
}

.cor-p1 {
    color: var(--cor-p1);
}



