/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box

}
html {
    width:100%;
}
app-root {
  font-size:62.5%;
  max-width:90%;

}
input {
  margin: 0;
}
button {
  cursor: pointer;
}


